<div class="container">
 <div class="text-center">
  <h1>About</h1>
  <h3>
   ながのCAKEは全国発送可能なケーキ屋さんです。</br>
   お子様からお年寄りの方までお召し上がりいただけるよう、</br>
   様々なバリエーションをご用意しております。</br>
   また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
   ぜひご注文ください。
  </h3>
 </div>
 
 <div class="text-center">
  <%= image_tag 'strawberries-g53631d556_1920', size: "500x370" %>
 </div>
 
</div>