@import '~bootstrap/scss/bootstrap';

*{
 margin: 0;
 padding: 0;
}


 .logo {
   width: 230px;
   height: 70px;
 }

 footer {
  height: 80px;
 }

 .price_field {
   position: relative;
   &::after {
     content: "円";
     position: absolute;
     right: -5px;
     bottom: 0;
   }
 }