@import '~bootstrap/scss/bootstrap';

*{
 margin: 0;
 padding: 0;
}


 .logo {
   width: 300px;
   height: 100px;
 }
 
 footer {
  height: 100px;
 }
 
 .price_field {
   position: relative;
   &::after {
     content: "円";
     position: absolute;
     right: -5px;
     bottom: 0;
   }
 }